body{
    margin:0;
    background-color:#151515;
    color:cyan;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}
svg{
    overflow:visible;
    animation:rotate_anim 3s alternate infinite;
}

@keyframes rotate_anim{
    from{transform:rotate(0deg);}

    to{transform:rotate(1000deg);}
}