/* <!--In the name of kindly generous ALLAH-->
<!--Thanks ALLAH--> */

body{
    margin:0;
    background-color:#151515;
    color:cyan;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}
svg{
    --path-color:cyan;
    overflow:visible;
    stroke:var(--path-color) !important;
    max-width:300px;
    max-height:300px;
}

@keyframes rotate_anim{
    from{
        transform:rotate(0deg);
        filter:drop-shadow(0 0 10px var(--path-color)) hue-rotate(0deg) blur(3px);}

    to{
        transform:rotate(1000deg);
        filter:drop-shadow(0 0 10px var(--path-color)) hue-rotate(360deg) blur(0px);}
}

